@import "~taro-ui/dist/style/components/list.scss";

page{
  background:rgba(245,246,250,1);
  height: 100%;
}
.container{
  margin-bottom: 150px;
}
.noMore{
  text-align: center;
  margin-top: 50px;
}




